:root {
  --white: #ffffff;
  --off-white: #f8f8f8;
  --light-gray: #e8e8e8;
  --primary: #183153;
  --accent: #2dbecd;
  --accent-hover: #29abb9;
  --text: #444444;
  --text-light: #44444422;
  --transparent: #00000000;
  --button-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  --button-shadow-hover: 0 2px 12px rgba(0, 0, 0, 0.2);
  --button-shadow-hover-offset: 0 0 10px -2px rgba(0, 0, 0, 0.1);
}

/**
 * Default entries
 */
body {
  background-color: var(--off-white);
}

a {
  color: var(--accent);
}

a:hover {
  color: var(--accent-hover);
  text-decoration: none;
}

.navbar-dark .navbar-nav .nav-link {
  color: var(--white);
}

.bg-dark {
  color: var(--white);
  background-color: var(--primary) !important;
}

/**
 * Button overrides
 */
.btn-primary {
  background-color: var(--accent);
  border-color: var(--accent);
}

.btn-primary:hover {
  background-color: var(--accent-hover);
  border-color: var(--accent-hover);
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  background-color: var(--accent-hover);
  border-color: var(--accent-hover);
}

.btn-secondary {
  background-color: var(--white);
  border: none;
  outline: none;
  box-shadow: var(--button-shadow);
  color: var(--text);
  padding: 0.5rem 1rem;
  border-radius: 4px;
}

.btn-secondary:hover {
  color: var(--text);
  background-color: var(--white);
  box-shadow: var(--button-shadow-hover);
}

.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show > .btn-secondary.dropdown-toggle,
.btn-secondary.focus,
.btn-secondary:focus {
  color: var(--text);
  background-color: var(--white);
  box-shadow: var(--button-shadow-hover);
}

.btn-outline-primary {
  color: var(--accent);
  border-color: var(--accent);
}

.btn-outline-primary:hover {
  color: var(--white);
  background-color: var(--accent-hover);
  border-color: var(--accent-hover);
}

.btn-outline-primary:not(:disabled):not(.disabled).active,
.btn-outline-primary:not(:disabled):not(.disabled):active,
.show > .btn-outline-primary.dropdown-toggle {
  color: var(--white);
  background-color: var(--accent-hover);
  border-color: var(--accent-hover);
}

.btn-outline-secondary {
  background-color: var(--white);
  border: 2px solid var(--text-light);
  outline: none;
  box-shadow: var(--button-shadow-hover-offset);
  color: var(--text);
  padding: 0.5rem 1rem;
  border-radius: 10px;
}

.btn-outline-secondary:hover {
  color: var(--text);
  background-color: var(--white);
  box-shadow: var(--button-shadow-hover);
}

.btn-outline-secondary:not(:disabled):not(.disabled).active,
.btn-outline-secondary:not(:disabled):not(.disabled):active,
.show > .btn-outline-secondary.dropdown-toggle,
.btn-outline-secondary.focus,
.btn-outline-secondary:focus {
  color: var(--text);
  background-color: var(--white);
  box-shadow: var(--button-shadow-hover);
}

/**
 * Custom entries
 */
.panel {
  background-color: var(--white);
  box-shadow: var(--button-shadow);
  padding: 1rem;
  border-radius: 10px;
  height: calc(100vh - 150px);
}

.bg-plastic {
  background-color: var(--primary);
}

.card {
  border: none;
  box-shadow: 0 5px 10px -2px rgb(0 0 0 / 20%);
  border-radius: 16px;
}

.card-body {
  padding: 2rem;
}

.search-input {
  color: var(--white);
  background-color: var(--transparent);
  border: 2px solid rgba(255, 255, 255, 0.2);
}

.search-input:focus {
  color: var(--white);
  background-color: var(--transparent);
  border-color: var(--accent-hover);
  outline: none;
  box-shadow: none;
}

.breadcrumb.bg-white {
  background-color: var(--off-white) !important;
}

.file-entry {
  display: block;
  color: #666;
  border-bottom: 1px solid var(--light-gray);
  padding: 0.75rem;
}

.file-entry:first {
  border-top: 1px solid var(--light-gray);
}

.file-entry:hover {
  color: var(--accent);
  background-color: var(--off-white);
  text-decoration: none;
}

.file-entry svg {
  color: #999;
}
